{% load static %}
{% include 'adminuser/header.html' %}
    <div class="col-sm-9 offset-3 ">
        <div style="margin-top:100px;">
            <h5 class="alert alert-light text-right shadow-sm">Admin Remarks</h5>
        </div>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-sm-8 border p-3" style="border-radius:20px;">
                    {% if messages %}
                        {% for message in messages %}
                        <h4 style="color:green;">{{message}}</h4>
                        {% endfor %}
                    {% endif %}
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <span style="color:red">{{error}}</span>
                            {% endfor %}
                        {% endif %}
                        {% for field in form %}
                            <span style="color:red">{{field.errors|striptags}}</span>
                            <div class="form-group">
                            {{field.label_tag}}{{field}}
                            </div>
                        {% endfor %}
                        <div class="text-center py-2">
                            <input type="submit" class="btn btn-primary" value="Submit">
                            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                        </form>
                </div>   
            </div>
        </div>
       
    </div>
{% include 'adminuser/footer.html' %}

       