
{% include 'user/header.html' %}
    <div class="col-sm-6 offset-1 main">
        <div style="margin-top:100px;">
            <h5 class="alert alert-light text-right shadow-sm">Dashboard</h5>
        </div>
        <div class="mt-5">
            <h5 class=" text-center shadow-sm p-3" style="background-image:url('/static/core/images/insta.jpg');">
            Welcome To Online Birth Certificate Registration {{fname}} {{lname}} !!!</h5>
        </div>
    </div>
{% include 'user/footer.html' %}

       