{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
<div style="background-image:url('/static/core/images/bar.jpg');" class="fixed-top">
  <nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="{% url 'home' %}">OBCS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fas fa-bars" style="color:blue; font-size:28px;"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active ">
        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home mr-2"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-2"></i>{{fname}} {{lname}}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'userprofile' %}"><i class="fas fa-user mr-2"></i>Profile</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'changepass' %}"><i class="fas fa-cog mr-2"></i>Settings</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
            </div>
        </li>
    </ul>
  </div>
  </nav>            
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3  col-md-2 bg-light shadow sidenav sidebarht" style="background-image:url('/static/core/images/bar.jpg');padding-top:100px;">
                <h5 class="font-weight-bold text-center">{{fname}} {{lname}}</h5>
                <p class="font-weight-bold text-center">{{useremail}}</p><hr>
                <ul style="list-style:none;" class="mt-5">
                    <li class="my-3"><i class="fas fa-user mr-2"></i><a href="{% url 'userprofile' %}" style="color:black;">Profile</a></li>
                    <li class="my-3"><i class="fab fa-wpforms mr-2"></i><a href="{% url 'application' %}" style="color:black;">Birth Reg Form</a></li>
                    <li class="my-3"><i class="fas fa-certificate mr-2"></i><a href="{% url 'viewcertificates' %}" style="color:black;">Certificates</a></li>
                </ul>
            </div>