{% load static %}
{% include 'user/header.html' %}
    <div class="col-sm-9 offset-sm-3 offset-md-2 ">
        <div style="margin-top:100px;">
            <h5 class="alert alert-light text-right shadow-sm">All Certificates</h5>
        </div>
        <div class="container-fluid " >
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-hover border shadow-sm">
                        <thead>
                            <tr>
                                <th scope="row">ID</th>
                                <th scope="row">DOB</th>
                                <th scope="row">Gender</th>
                                <th scope="row">Name</th>
                                <th scope="row">Birth Place</th>
                                <th scope="row">Father Name</th>
                                <th scope="row">Phone Number</th>
                                <th scope="row">Email ID</th>
                                <th scope="row">Date Of certificate</th>
                                <th scope="row">Action</th>
                            </tr>
                        </thead>
                            <tbody>
                            {% for certificate in certificates %}
                                <tr>
                                    <td>{{certificate.id}}</td>
                                    <td>{{certificate.dob}}</td>
                                    <td>{{certificate.gender}}</td>
                                    <td>{{certificate.name}}</td>
                                    <td>{{certificate.birth_place}}</td>
                                    <td>{{certificate.fname}}</td>
                                    <td>{{certificate.phone}}</td>
                                    <td>{{certificate.email}}</td>
                                    <td>{{certificate.doa}}</td>
                                    <td>
                                        <a href="{% url 'selectcertificate' certificate.id %}" class="btn border"><i class="fas fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
{% include 'user/footer.html' %}

       